<div class="panel panel-default">
  <div class="panel-heading" style="display:flex; justify-content: space-between; align-items: center;">
    <div>{{ element.name }}</div><button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
  <div class="panel-body">
    <p>
      <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
    </p>
    <p>
      <strong *ngIf="element.type === 'server'" style="color: red">{{ element.options }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.options }}</em>
  </div>
</div>